[2022-09-25 16:14] narayan954 opened #2 "security vulnerabilities in dependencies."
This project has some potential security vulnerabilities in dependencies.
Can anyone please help me solve them.
Thank you.

[2022-09-25 16:22] narayan954 opened #3 "react deploy action"
react deploy action ([deployreact.yml](https://github.com/narayan954/dummygram/blob/master/.github/workflows/deployreact.yml)) is not working as expected and hence failing.
It is failing to deploy to github-pages due to failure of installing dependencies and it can't run with --force either.
Please help me resolve.

[2022-09-25 16:25] narayan954 opened #4 "Improve UI"
UI of the project can be improved to a great extent.
We can start with parts.
This issue can become a thread for issues related to UI enhancement issues.
Contribution is welcome.

[2022-09-25 16:28] narayan954 opened #5 "Add logo to profiles"
Add logo uploading option while signing up for profiles through firebase, so that each profile can have its own profile picture as logo.

[2022-09-26 06:09] ArshErgon commented on #4
assign it to me

[2022-09-26 09:45] zainbinfurqan commented on #3
Hi Narayn, can i look init what the issue is?

[2022-09-26 11:23] narayan954 commented on #4
done @ArshErgon

[2022-09-26 11:24] narayan954 commented on #3
Yes, sure you can :)

[2022-09-26 11:24] narayan954 commented on #3
would you like to be assigned as well ?

[2022-09-29 13:29] Ujjawal3 commented on #5
HI @narayan954 can you assign me this task as a part of hacktoberfest?

[2022-09-30 04:53] narayan954 commented on #5
yeah sure @Ujjawal3

[2022-09-30 05:03] narayan954 opened #8 "Add github repo stats in the main readme"
We can add repo stats in the main readme to make it better.
for example :
![stats](https://user-images.githubusercontent.com/57909583/192417213-d554e0f4-faa5-4841-88ec-9f8e31d26bac.png)

[2022-09-30 05:08] narayan954 opened #9 "Website logo improvement"
Current logo isn't that good, it can be improved. Or a new one is welcomed as well.
![dummygram](https://user-images.githubusercontent.com/77617189/193194492-07cc1b5f-06c1-4945-956f-b3f49552f27e.png)

[2022-09-30 05:47] narayan954 opened #10 "Improve readme"
Add sections/pictures or details to improve the readme

[2022-09-30 05:51] narayan954 opened #11 "Add a section "How to get started with open source?" in the readme"
You can take inspiration from the picture below.
![open source](https://user-images.githubusercontent.com/57909583/192442620-cbae0822-03e0-4351-8854-f9373997fb90.png)

[2022-09-30 07:06] mohuxaiphasalik commented on #9
I would like to add new logo to your website
can you assign this to me?

[2022-09-30 07:10] narayan954 commented on #9
yeah sure @mohuxaiphasalik go ahead

[2022-09-30 09:29] Dun-sin commented on #11
Do you need the same info on the website in the README? If that's it, can I work it out

[2022-09-30 10:24] mohuxaiphasalik commented on #9
can you please elaborate that if you want to get an updated fav icon or navbar logo?

[2022-09-30 10:51] narayan954 commented on #9
Can you do for both ? i mean the bigger one with text for the navbar logo and it's smaller version for fav icon

[2022-09-30 10:55] narayan954 commented on #11
I need this as a separate section on the readme . Like we can replace  old data like cloning and forking instructions from readme with a dedicated section on how to contribute to the open source. This would improve the readme

[2022-09-30 11:01] Dun-sin commented on #11
Why not both?

[2022-09-30 12:10] sambhavgupta0705 commented on #11
Hey can I work on this issue?

[2022-09-30 12:58] user-ank commented on #10
Hey @narayan954 , can you assign this to me ?

[2022-09-30 15:19] narayan954 commented on #8
great, go on !

[2022-09-30 15:20] narayan954 commented on #10
yes, go ahead

[2022-09-30 15:21] narayan954 commented on #11
yes that'd do , r u going to work on that?

[2022-09-30 15:22] narayan954 commented on #11
depends if @Dun-sin doesn't, till then you can look for other issues or raise some :)

[2022-09-30 15:23] Dun-sin commented on #11
I will💪🏽

[2022-09-30 19:26] narayan954 commented on #11
That's the spirit !

[2022-09-30 19:27] sambhavgupta0705 commented on #11
Hey ,Please assign it to me also
I want to work on this one

[2022-09-30 20:36] KarthikS373 commented on #11
Is this issue still open. If yes can you please assign it to me?

[2022-09-30 20:37] Dun-sin commented on #11
It is, I'm working on it

[2022-09-30 21:43] mathiasayivor opened #14 "UX Improvement: Add Loading Animations"
**Is your feature request related to a problem? Please describe.**
The UX is really poor. Currently, there is no indicator that shows if a process is running or not (i.e Logging in, Signing Up, New Post)

**Describe the solution you'd like**
Use loading animations to tell users if there's a running/loading process

**Describe alternatives you've considered**
[NONE]

**Additional context**
[NONE]

[2022-10-01 04:48] IAmTamal opened #15 "Addition : Issue Templates"
## What i am suggesting to add ?

Since it is an actual product, I am suggesting to add **Issue Templates** to the repository, it can be as many categories as needed - primary categories of issues are mostly : `bugs`, `docs`, `general feature` and so on.

## Why to add it ?

Adding an issue Template allows you to organize the issues made by folks in a much better way.
 - We can know if someone wan

[2022-10-01 04:56] narayan954 commented on #15
Thanks for raising the issue, I'll assign you right away :)

[2022-10-01 05:00] #11 closed

[2022-10-01 05:04] narayan954 commented on #14
Well that's a great idea!! You can go ahead!

[2022-10-01 06:21] narayan954 opened #16 "[Feature] Post Delete"
**Is your feature request related to a problem? Please describe.**
Sometimes we want to delete our old posts , but we are currently unable to do that here ( Unless I delete it from the dB)

**Describe the solution you'd like**
We can implement the delete functionality for the posts (But only those which were posted by the user)

**Additional context**
It could be a prop passed to the card componen

[2022-10-01 09:10] mathiasayivor opened #17 "Local compilation fails"
**Describe the bug**
I get a compilation error when I run `npm start`.

**To Reproduce**
Steps to reproduce the behavior:

1. Clone the repository
2. Install dependencies `npm install --force`
3. Try starting the dev server `npm start`

**Expected behavior**
The dev server should start normally and I should be able to view exactly what's on the production build

**Screenshots**
![Screenshot from 2

[2022-10-01 09:15] mathiasayivor opened #18 "Use Vite"
**Is your feature request related to a problem? Please describe.**
The app was created using create-react-app, which is great, but there are so many dependency errors.
PS: This issue is related to #2

**Describe the solution you'd like**
Use [vite](https://vitejs.dev/) instead, which is super fast and has great dx

**Describe alternatives you've considered**
[NONE]

**Additional context**
[NONE]

[2022-10-01 09:54] narayan954 commented on #17
Yes, I noticed this today only. Would you like to work on this? If so, what do you propose ?

[2022-10-01 10:01] narayan954 commented on #18
I don't have any idea about vite.js right now. Would you like to work on this?

[2022-10-01 10:09] mathiasayivor commented on #17
Use vite as I proposed in #18

[2022-10-01 10:13] mathiasayivor commented on #18
Sure... Would work on when available

[2022-10-01 11:09] narayan954 commented on #17
Okay then, I'll implement a temporary workaround for now.

[2022-10-01 12:08] varun7singh commented on #16
Can i work on this?

[2022-10-01 12:21] narayan954 commented on #16
yes you can :)

[2022-10-01 12:22] narayan954 commented on #18
Thanks!!, should I assign it to you or keep it open??

[2022-10-01 12:30] mathiasayivor commented on #18
Sure

[2022-10-01 14:24] mathiasayivor commented on #2
@narayan954 Apparently, material-ui v4 is not compatible with react 18. We'd have to upgrade to mui v5 and even after upgrading to v5, we can't use `makeStyles` since it only supports react 17.

[2022-10-01 14:44] narayan954 commented on #2
Ohh, that's a real issue :( . So what can we do , find alternative/workaround to `makeStyles` ?

[2022-10-01 14:45] narayan954 commented on #2
I'll look into as well

[2022-10-01 18:03] #15 closed

[2022-10-01 19:20] #18 closed

[2022-10-01 19:30] #2 closed

[2022-10-01 19:55] mathiasayivor opened #25 "[FEATURE] Enable posting without images"
### Description

Currently, users **must** upload an image when posting. Which is not a good UX.
It would be great to enable users post without uploading an image

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-01 19:57] mathiasayivor opened #26 "[FEATURE] Enable uploading multiple images"
### Description

Currently, users are only able to upload one image at a time. It would be great to enable users to upload multiple images in the same post.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-01 20:18] partik03 commented on #25
I have added this functionality ,kindly review my pr

[2022-10-01 20:49] #14 closed

[2022-10-01 20:50] narayan954 commented on #25
Kindly follow a pattern or you'll get tagged as spam

[2022-10-01 20:54] narayan954 commented on #26
Yeah , that'd be great, adding to this ,uploading menu could be sticky to the window.
Would you like to work on this or should others try?

[2022-10-01 21:05] narayan954 commented on #25
@partik03 bro, @mathiasayivor is the author of this issue, if he doesn't want to work on that , then you can. Or you can find bugs and raise a issue by yourself as well.

[2022-10-01 21:11] mathiasayivor commented on #26
Yh. I was even gonna create a new issue for making new post menu sticky

[2022-10-01 21:16] mathiasayivor opened #30 "[FEATURE] Perf: Add pagination for posts"
### Description

Currently, the app is loading all posts at once, which might be an issue once posts get larger. It'd be better to use pagination (i.e load more posts only when the user scrolls down).

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-01 21:19] narayan954 opened #31 "[Feature] Dark Mode"
### Description

Implement Dark mode for the application to give it a better look.

### Screenshots

_No response_

### Additional information

We can have a toggle at the side for dark mode

[2022-10-01 21:20] mathiasayivor commented on #25
@narayan954 you can assign this to @partik03 since he's already created a pr.

[2022-10-01 21:20] narayan954 commented on #26
Thanks for the help!

[2022-10-01 21:21] narayan954 commented on #25
okay sure , @partik03 you have a green light!

[2022-10-01 21:24] narayan954 commented on #30
Yeah that'd be a great feature.

[2022-10-01 21:48] mathiasayivor commented on #26
Can I work on this?

[2022-10-01 21:57] narayan954 commented on #26
Yeah ofcourse

[2022-10-01 23:34] arthurmatthew commented on #31
Hi, I think I could work on this. Could you assign me?

[2022-10-01 23:44] Pervolarakis commented on #30
can i work on this?

[2022-10-02 06:16] narayan954 commented on #31
Sure!

[2022-10-02 06:17] narayan954 commented on #30
Yeah sure, go ahead!

[2022-10-02 06:18] narayan954 commented on #5
are you working on this @Ujjawal3 ?

[2022-10-02 06:26] narayan954 commented on #4
hey @ArshErgon I have decided that this issue is actually a parent issue for the many child issues, like improve UI for cards, improve UI for upload menu, etc , you can get yourself assigned in those child issues. And this issues will exist isolated.

[2022-10-02 06:26] Ujjawal3 commented on #5
Ya @narayan954 will make pr by evening

[2022-10-02 06:27] narayan954 commented on #5
okayy take your time :)

[2022-10-02 06:41] narayan954 opened #33 "Improve UI - for cards"
### Description

Cards for post look really dull or I should say simple. We can design them better with some border/border radius etc. Align the contents to the left similar to a Instagram post

### Screenshots

<p align="center">
  <img alt="Current" src="https://user-images.githubusercontent.com/77617189/193441254-c03a0326-737a-4bce-8843-552973c8cae5.png" width="45%" height="500">
&nbsp; &nbsp;

[2022-10-02 06:42] partik03 commented on #25
@narayan954 @mathiasayivor I really apologize as this issue was opened and no one was assigned so I thought I could work on it.
@narayan954 I have already added my pr kindly review it.

[2022-10-02 06:42] najeebkp commented on #33
hi @narayan954  i can take this up. please assign me

[2022-10-02 06:44] narayan954 commented on #25
@partik03 its ok , even though no one was assigned , you could've dropped a message and then the pr.
I commented on that PR , please check it.

[2022-10-02 06:45] narayan954 commented on #33
sure @najeebkp

[2022-10-02 06:48] Bhavik-ag opened #34 "[Bug] When the upload button is clicked without selecting any image"
### Description

When the upload is clicked without selecting any image the loading continues forever. So this should be handled beforehand.

### Steps to reproduce

1) Do not select any image and just directly press the upload button.

### Screenshots

![image](https://user-images.githubusercontent.com/73033511/193441761-66ec90de-1b17-4fee-8279-caae9f343892.png)
![image](https://user-images.githu

[2022-10-02 06:50] Bhavik-ag commented on #34
I have fixed this issue please this issue to me so that I can submit the PR.

[2022-10-02 06:55] narayan954 commented on #34
sure

[2022-10-02 07:06] narayan954 commented on #34
@Bhavik-ag pr #27 fixes this , I think this issue can be linked to that pr only.

[2022-10-02 07:10] Bhavik-ag commented on #34
Okay
I made the pull request so you can close it then.

[2022-10-02 07:14] ArshErgon commented on #4
Hey @narayan954 no problem, i will improve everything which I can, the fonts or the UI, I haven't started the project yet, because I'm quite busy with some othe projects but will be starting the project tomorrow

[2022-10-02 07:30] narayan954 commented on #34
@Bhavik-ag You can implement this solution for the post without image feature

[2022-10-02 07:30] narayan954 commented on #34
Currently when posting with image, the upload button keeps on reloading

[2022-10-02 07:36] narayan954 commented on #4
Yeah please propose the changes in a separate issue, so I can assign you. Also, no hurries

[2022-10-02 07:42] Bhavik-ag commented on #34
Okay, I am working on this.

[2022-10-02 07:46] narayan954 commented on #34
thanks

[2022-10-02 07:49] narayan954 commented on #5
@Ujjawal3 with that feature added I am facing issues , please look into this

[2022-10-02 07:52] narayan954 commented on #5
![image](https://user-images.githubusercontent.com/77617189/193443785-6d2a843a-6445-4733-9934-c97c6e992256.png)

I signed up a new account and tried posting but neither my profile logo/avatar came nor the name,After that I logged out and sigined in again and posted , this time I have the username but still no logo/avatar :(.
I am reverting the pr for now , please look into it

[2022-10-02 08:09] #33 closed

[2022-10-02 08:12] narayan954 opened #39 "Issue with cards"
### Description

Newly implemented cards work for posts with images , but don't for post without images.

### Steps to reproduce

Make any post without images and you'll face this issue ,, where there's a default placeholder image and the actual caption might be lost.

### Screenshots

![image](https://user-images.githubusercontent.com/77617189/193444643-50ae5400-3209-4a66-864f-8cea36b5fd4f.png)

[2022-10-02 08:14] narayan954 commented on #39
@najeebkp you wanted to work on it, am I correct?

[2022-10-02 08:15] najeebkp commented on #39
Yes. Please Assign me.

[2022-10-02 08:58] #39 closed

[2022-10-02 09:02] narayan954 opened #41 "[FEATURE] Post Like Feature"
### Description

Can we implement a like feature for the post and see live like counts!
It'd be great!

### Screenshots

_No response_

### Additional information

We already have the button for likes in posts , we just have to implement them!

[2022-10-02 09:23] prateek565 commented on #41
I'd like to work on it .assign it to me

[2022-10-02 09:52] #5 closed

[2022-10-02 09:53] narayan954 commented on #41
Sure go ahead!

[2022-10-02 10:09] mathiasayivor commented on #34
I think #26 already addresses this issue...

[2022-10-02 10:19] narayan954 commented on #34
Ohh , It's been fixed tho :/

[2022-10-02 10:19] #34 closed

[2022-10-02 10:31] Bhavik-ag opened #45 "[Enhancement] - Fix empty uploads and show progress bar while uploading only"
### What would you like to share?

I want to do the following changes:-

- Show the progress bar only while uploading
- Fix a bug - Post with no caption and no image should not be uploaded.

### Additional information

_No response_

[2022-10-02 10:32] Bhavik-ag commented on #45
Please assign this issue to me if you find the changes appropriate for the project so that I can submit a PR.

[2022-10-02 10:45] narayan954 commented on #45
yeah go ahead!

[2022-10-02 10:48] narayan954 commented on #3
@zainbinfurqan are you working on this?

[2022-10-02 10:52] narayan954 opened #46 "Github Action Failing"
### Description

Every build action is failing due to npm ci not working. This isn't intended and also confuses the contributors.
Can anyone solve this issue /suggest an alternative?
Thanks

### Steps to reproduce

With every merge in the repository, GitHub action gets triggered , but it fails everytime.

### Screenshots

_No response_

### Desktop (please complete the following information)

_No

[2022-10-02 11:38] KehindeBello commented on #46
I recently learnt about continuous integration with Travis and GitHub actions and I'll love to work on this issue.

[2022-10-02 11:39] SSHSRN opened #49 "[FEATURE] User Profile Page"
### Description

I want to do the following changes: -

* Create a separate route or a modal or an overlay for user settings.
* Right now, the page just shows if a user is logged in or not and a user cannot see which email or the details, he/she used to log in.
* I also want to add a **dynamic user profile picture** to a user when they sign in (as a Gravatar).

### Screenshots

_No response_

###

[2022-10-02 11:40] SSHSRN commented on #49
Please assign this issue to me if you find the idea appropriate for the project so that I can submit a Pull Request.

[2022-10-02 11:46] zainbinfurqan commented on #3
yes will start working on this from tomorrow

[2022-10-02 11:46] narayan954 commented on #46
great go ahead!

[2022-10-02 11:51] prateek565 commented on #41
According to me to implement like function we have to change the db collection on firebase and add a variable likes there. ehich i cant do so if you can pls do it.

[2022-10-02 11:54] narayan954 commented on #49
User profile seems like a great idea!
In the project we already have implemented an avatar option #5 corresponding to #42 while signing up.
We can make that avatar upload feature as an optional and implement your suggestion for when users don't upload an avatar.
So yeah , it's a green light from me!

[2022-10-02 12:18] narayan954 commented on #41
You can yourself directly add a new field like caption, imageurl , i.e likecount for each new post. For older posts , yes only I can do :') . I have some cleanup to do i guess. Or you can have a condition for older post where post without likecount field wont be bothered while displaying likes

[2022-10-02 12:30] #45 closed

[2022-10-02 12:30] mathiasayivor opened #50 "[FEATURE] UX: Use image thumbnails when loading posts"
### Description

It'd really be a good UX to use blurred thumbnail images while loading posts and replace them with the actual image when the post is done loading.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-02 12:48] #25 closed

[2022-10-02 12:52] mathiasayivor opened #51 "[FEATURE] UI(Thread): Use MUI Alerts"
### Description

Currently, we're only using native browser alerts for notifications. It'd be a great improvement to use MUI alerts/dialogs to create a consistent UI.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-02 17:06] arthurmatthew commented on #31
Hey, could you link me to instructions on how to get Firebase working locally? The posts are not loading when I run my fork of the project on my computer. I am getting this error: `@firebase/firestore: Firestore (9.10.0): Uncaught Error in snapshot listener: {"code":"resource-exhausted","name":"FirebaseError"}`. Any tips?

[2022-10-02 19:58] narayan954 commented on #31
Actually we made way too many requests to firebase due to so many changes and testing etc and actually exhausted the free limit for today, so this error occured .  Don't worry , it should refresh in some hours

[2022-10-02 20:13] narayan954 commented on #50
Just like a skeleton loading right? as in LinkedIn. It'd be really great!!

Mention if you wish to work on it!

[2022-10-02 20:13] arthurmatthew commented on #31
Sounds good- I'll get to work when it's back up.

[2022-10-02 20:18] narayan954 commented on #51
Indeed it would be a good improvement!

[2022-10-02 20:20] narayan954 commented on #31
It should be back up by PDT 00:00hrs

[2022-10-02 20:41] warmachine028 commented on #51
I would be happy to add the MUI alerts.

[2022-10-02 20:49] narayan954 commented on #51
Sure go ahead!
Ps. Project is currently down for some hours, so you might face some issues for now.

[2022-10-02 21:28] mathiasayivor commented on #50
Yh, but instead of a loading skeleton, it would be a blurred version of the image

[2022-10-02 21:48] mathiasayivor commented on #50
I'd not be available till tomorrow, but sure, you can assign me.

[2022-10-02 21:57] mathiasayivor opened #53 "[FEATURE] UX: Improve on pagination"
### Description

The current pagination solution #52, which is still under review, resets the scroll position after new uploads and does not make provision for updates for existing uploads.

This issue would be a later improvement on #52 since we do not have time to fully address the above-mentioned problems due to firebase's daily limits (we need to get basic pagination working asap)

### Screens

[2022-10-03 04:20] narayan954 commented on #53
right! I will assign it to you

[2022-10-03 04:24] narayan954 commented on #50
yeah , no hurries :)

[2022-10-03 08:28] #26 closed

[2022-10-03 09:08] narayan954 commented on #30
![image](https://user-images.githubusercontent.com/77617189/193540603-510a48b0-f662-4127-ae49-108b9bcde89b.png)

Is the fix still not working?? Changes are deployed already

[2022-10-03 11:20] mathiasayivor opened #58 "[FEATURE] UI(Thread): Improve Display for multi-images"
### Description

Currently, uploaded images are being displayed in grid form, but need some improvement (i.e too much gap for images with different heights)

We have a few options:

1. Use masonry style to display the upload's images on large devices but create a slider (aka carousel) on small devices
2. Carousel for both small and large devices

### Screenshots

_No response_

### Additional info

[2022-10-03 11:39] mathiasayivor opened #59 "[FEATURE] UI(Thread): Crop Upload Images"
### Description

It would really be nice to crop the uploaded images (images exceeding the height threshold) for previews, and enable users to view the full image by tapping/clicking on it (i.e `view full image`)
Doing so could solve the following problems:
* Consistent height for upload cards
* Devices with a height less than the uploaded image do not need to scroll down to view the full image, h

[2022-10-03 13:21] #46 closed

[2022-10-03 15:11] mathiasayivor opened #62 "[FEATURE] UI(Thread)+DX: Create reusable dialogs"
### Description

Just like how notistack works, we can create reusable dialogs the provides an imperative api to easily create dialog messages, without repeating code.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-03 15:19] Emilance opened #63 "Improve the site's header"
### What would you like to share?

The current site's header needs a little improvement to look exactly like that of IG,  assign this to me I will get it done perfectly

### Additional information

_No response_

[2022-10-03 15:41] narayan954 commented on #63
Go Ahead! and please share the screenshots for the change

[2022-10-03 16:26] saitama2812 commented on #62
![image](https://user-images.githubusercontent.com/102511217/193629520-e25445b2-56c9-45cf-be14-e1b4715b3626.png)
does this help or is it something else that you wanted?

[2022-10-03 16:49] prateek565 commented on #41
hi @narayan954 i have implemented like for new posts but for old ones i cant do anything so you can delete them if you want otherwise like function doesnt work on them

[2022-10-03 17:34] prateek565 commented on #41
hi can you make this issue hacktoberfest label

[2022-10-03 20:42] narayan954 commented on #41
Yeah sure!, btw the whole repo is labelled with hacktoberfest, issue label don't matter

[2022-10-03 20:45] narayan954 commented on #41
Yeah, I understand that, and its ok... I am planning on separating development website and production website with separate firebase projects

[2022-10-04 05:22] arthurmatthew commented on #31
Hi, unfortunately something came up and I will be unable to work on this project for the next couple of days. I think it's best if somebody else gets this issue assigned to them.

[2022-10-04 06:10] narayan954 commented on #31
It's Okay

[2022-10-04 06:12] #10 closed

[2022-10-04 06:28] #8 closed

[2022-10-04 06:32] #51 closed

[2022-10-04 09:48] abhijain2003 opened #66 "[FEATURE] Add a footer"
### Description

We can add a footer which navigates to different pages includes about us contact us your social media links and little about motive of this website

We have two options to implement this as in [This Solution](https://ux.stackexchange.com/questions/12234/how-can-the-classic-footer-elements-be-integrated-into-an-infinite-scrolling-lay)

Please confirm anyone of them and feel free to

[2022-10-04 10:01] narayan954 commented on #66
We have (kind of) infinite scrolling in our application, so how would a footer help and be implemented @abhijain2003 ?

[2022-10-04 10:43] narayan954 opened #67 "[Bug] Null Username signup"
### Description

We can just signup without putting a username, it will show some error, but logs the user in, leading to existence of null users, with ghost posts!!

### Steps to reproduce

While signing up don't use a username.

### Screenshots

![image](https://user-images.githubusercontent.com/77617189/193799372-4f3d6381-2f8b-4aba-a4f3-4f75aa7badba.png)
![image](https://user-images.githubuserc

[2022-10-04 10:47] EdkoPitonak commented on #67
Hi i would like to work on this if possible

[2022-10-04 11:03] abhijain2003 commented on #66
by changing the scrolling to grid of infinite X 3 in large screen

and making the position fixed of about us will add more value to website

[2022-10-04 11:25] narayan954 commented on #67
Sure, Go ahead

[2022-10-04 12:18] narayan954 commented on #66
@mathiasayivor  what do you suggest sir?

[2022-10-04 13:09] zainbinfurqan commented on #3
Hi @narayansoni  I tried but not get success, you can assign it to any other.

[2022-10-04 16:21] narayan954 commented on #3
okay

[2022-10-05 03:35] abhijain2003 opened #71 "[FEATURE] Wanted to add a hashtag # feature"
### Description

Hey, I wanted to add a functionality for user to use hashtags in their post and and saving post of similar # at new page

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-05 06:30] narayan954 commented on #66
okay @abhijain2003

[2022-10-05 06:31] abhijain2003 commented on #66
thanks

[2022-10-05 09:40] EdkoPitonak commented on #67
Hi i have it fixed , will try to do some testing and if all goes well will try to make pull request

[2022-10-05 17:12] #41 closed

[2022-10-05 22:25] soustab10 opened #72 "Add a color picker option for gradient"
### Description

Any post generated by the user only has this background:

Adding a color picker tool will be really beneficial to make the posts more unique.

### Screenshots

![image](https://user-images.githubusercontent.com/95632583/194175081-0599ac68-cde7-4c70-af39-8ced87babe95.png)

### Additional information

_No response_

[2022-10-06 04:35] narayan954 commented on #67
Sure, Thank you!

[2022-10-06 04:35] #71 closed

[2022-10-06 04:39] narayan954 commented on #72
Yeah, that'd be great. Would you like to implement that? @soustab10

[2022-10-06 07:38] Furkangunduz commented on #4
Do you have any design to do ? Or can we just do our best to solve something ?  I can work on sign up and sign in section if there is no one is working on.

[2022-10-06 07:42] furkangunduz opened #73 "When too much scroll site crash."
### Description

When you scroll to reach end of the page it gives crash.

### Steps to reproduce

Scroll to the end.

### Screenshots

![issue](https://user-images.githubusercontent.com/81353673/194247042-6aedf33e-c3af-42b0-adf0-3d03dc6881ac.PNG)

### Desktop (please complete the following information)

_No response_

### Smartphone (please complete the following information)

_No response_

###

[2022-10-06 08:07] soustab10 commented on #72
yes sure. Please assign it to me.

[2022-10-06 09:12] narayan954 commented on #4
We can definitely improve the new post button, sign-up, sign-in interface! Feel free to create the issue! :)

[2022-10-06 09:17] narayan954 commented on #73
So, you really went to the bottom xD , Jokes apart, it could be due to some loophole in calculation of next posts to be displayed.
Would you like to work on this? If so, feel free to!
Thank you!

[2022-10-06 09:24] soustab10 commented on #72
In case of a gradient post, how is the background image generated? Is it API?

[2022-10-06 09:38] narayan954 commented on #72
The background gradient is hardcoded in the CSS file, (post__background class). So, in either case of post(with and without image), the background is gradient. @soustab10

[2022-10-06 11:57] soustab10 commented on #72
I need an API/Tool which will create a background image having the gradient with colors as chosen by the user, and then using that image as the background image of the post. Do you have anything in mind? Or any general suggestions. @narayan954

[2022-10-06 18:13] narayan954 commented on #72
@soustab10 do you mean something like this? [react gradient picker](https://www.npmjs.com/package/react-color-gradient-picker)

[2022-10-06 18:14] soustab10 commented on #72
Okay will try to implement.

[2022-10-09 06:53] narayan954 opened #76 "[FEATURE] New login/signup page"
### Description

When we enter site, we directly get to the posts and due to this our database needs to be exposed to public to load posts, which isn't a good practice. We can have a sign in/sign up page instead.

### Screenshots

_No response_

### Additional information

We need to implement a simple login/signup page

[2022-10-09 07:12] narayan954 opened #77 "[FEATURE] Post Delete feature"
### Description

We can delete any post by id through firebase cloud firestore delete request
for example = { const res = await db.collection('posts').doc('0DJEyHXRk6b4yyym3NYC').delete(); }

Can we try to implement this in our web application?
Ps: Only post creator should be able to delete his post.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-09 17:04] tanishk-23 commented on #76
@narayan954 Can you please assign this issue to me?

[2022-10-09 17:05] tanishk-23 commented on #77
@narayan954  Can you please assign this issue to me?

[2022-10-09 17:27] narayan954 commented on #77
sure, go ahead @tanishk-23

[2022-10-09 17:28] narayan954 commented on #76
Okay @tanishk-23

[2022-10-10 08:39] Furkangunduz commented on #73
Unfortunately i couldnt work on this. if you want you can assign someone else who wants to solve this issue.

[2022-10-10 09:22] narayan954 commented on #73
it's okay @Furkangunduz

[2022-10-10 14:40] tanishk-23 commented on #77
I have implemented the post delete feature but i want some information regarding database schemas so that i can check whether a user can delete the post or not?

![DeletePost1](https://user-images.githubusercontent.com/72482878/194891952-e4a8788e-c2d7-426a-b93b-1fd9b5d657f5.JPG)
![DeletePost2](https://user-images.githubusercontent.com/72482878/194892005-d6658bd2-93ef-427f-80e2-f70528898171.JPG)

[2022-10-10 16:45] narayan954 commented on #77
okay sure @tanishk-23 , I think I should give you a glimpse of the current firestore db

[2022-10-10 16:47] narayan954 commented on #77
![image](https://user-images.githubusercontent.com/77617189/194915656-fa187c32-a969-44d2-9365-4e8472cc36e7.png)
would this do?

[2022-10-10 17:05] tanishk-23 commented on #77
@narayan954 I think there should be user id associated with the post so that we can check whether user can delete it or not

[2022-10-10 19:08] narayan954 commented on #77
posts do have an id attribute, as they are mapped with ids (line 116 of app.jsx). You can access/delete any post directly by id from firebase firestore. I hope this helps.

[2022-10-12 13:32] dishant0406 opened #80 "[FEATURE] UI Improvement like button to change after the user click like"
### Description

The Like button on every card should change according to the state
If the user has already like it should be filled

Before Liking
![image](https://user-images.githubusercontent.com/90952604/195356061-862aacf3-b48b-4183-a462-4c4d76fe6897.png)

After Liking
![image](https://user-images.githubusercontent.com/90952604/195356155-70b8a8fc-d652-43e3-ae28-99b65973c4b6.png)

### Screensho

[2022-10-12 13:40] dishant0406 commented on #80
I am ready to work on this issue

[2022-10-12 15:08] Pranjal2870 commented on #76
Please assign me this issue @narayan954

[2022-10-12 15:08] bhadurishayoun commented on #63
please assign me this issue @Emilance

[2022-10-12 16:51] narayan954 commented on #80
okay great!

[2022-10-12 17:04] dishant0406 commented on #80
If possible, can you please assign labels

[2022-10-12 18:57] narayan954 commented on #63
@Emilance are you working on this issue?

[2022-10-12 18:58] narayan954 commented on #76
you need to ask @tanishk-23

[2022-10-13 12:53] dishant0406 opened #82 "[FEATURE] Save Button to save the posts"
### Description

Save Button on the post will save the post
you can view the saved posts from a different page.

Save Button
![image](https://user-images.githubusercontent.com/90952604/195601330-f17d2b68-4d93-4480-867e-6e2fb7c57fd5.png)

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-13 12:53] dishant0406 commented on #82
I can work on this

[2022-10-13 17:31] narayan954 commented on #82
Thanks @dishant0406 , you can go ahead!

[2022-10-13 17:33] dishant0406 commented on #82
I will be using localstorage for storing the saved post by the users

[2022-10-13 17:39] narayan954 commented on #82
Okay, so you'd be storing saved post's postId to the user and when displaying the saved posts, you'd display from those ids. am I correct?

[2022-10-13 17:45] narayan954 commented on #76
it's been 24hours of no response from tanishk, so @Pranjal2870 you can work on this.

[2022-10-13 17:46] Pranjal2870 commented on #76
Okay

[2022-10-13 17:48] narayan954 commented on #62
@saitama2812 I think this works as @mathiasayivor liked it, would you like to work on this?

[2022-10-13 18:39] dishant0406 commented on #82
yes

[2022-10-13 19:33] narayan954 commented on #82
Okay greatt, go ahead! :)

[2022-10-15 01:02] mathiasayivor commented on #50
Hello @narayan954 It's been a while.
There are some changes that we need in order to implement this feature.
We need to change the `imageUrl` field to an array of objects with the following properties:
[code]

I'd create a draft PR soon for review and testing before deployment

[2022-10-16 07:48] narayan954 commented on #50
okay @mathiasayivor  I am looking into this

[2022-10-18 14:21] bhoopesh369 commented on #73
can i work on this
@narayan954

[2022-10-18 14:22] narayan954 commented on #73
yes you can @bhoopesh369

[2022-10-18 14:35] bhoopesh369 commented on #80
can i work on this isuue? @narayan954

[2022-10-18 14:36] narayan954 commented on #80
@bhoopesh369 ask @dishant0406 as he seems to be already working on it

[2022-10-18 14:47] dishant0406 commented on #80
You can reassign this task @narayan954 I am working on the save posts task

[2022-10-18 15:10] narayan954 commented on #80
okay

[2022-10-18 15:10] narayan954 commented on #80
yes you can

[2022-10-19 16:48] Kritika30032002 commented on #31
is this still available?
May I contribute to this?

[2022-10-19 16:49] Kritika30032002 commented on #4
Is this still available for contribution?

[2022-10-20 03:04] narayan954 commented on #31
yes it's available :) , feel free to work on this!

[2022-10-20 03:08] narayan954 commented on #4
yes it is :)
Ps - Create a separate issue specifying the elements you'll improve .

[2022-10-20 09:00] Kritika30032002 commented on #31
you can assign me this

[2022-10-20 09:33] iamwicked commented on #31
I can also work on it. Could you assign it to me?

[2022-10-20 11:15] narayan954 commented on #31
sorry bud, it was claimed before you :)

[2022-10-21 06:00] Kritika30032002 commented on #66
Is this still available?

[2022-10-21 07:58] bhoopesh369 commented on #80
Please accept the pull request @narayan954

[2022-10-21 12:47] narayan954 commented on #66
asking @abhijain2003 if he's working ?

[2022-10-21 12:48] narayan954 commented on #80
looking into it :)

[2022-10-22 11:05] #31 closed

[2022-10-22 11:06] narayan954 commented on #31
closed in #85

[2022-10-22 11:07] narayan954 commented on #66
@Kritika30032002 yes, it's available but what improvement do you suggest?

[2022-10-22 12:16] Kritika30032002 commented on #66
Also you can assign me this ,If you want me too add this feature

[2022-10-22 12:18] narayan954 commented on #66
okay thanks! go ahead.

[2022-10-22 12:54] Sheikh566 opened #90 "[FEATURE] Emoji in comment box"
### Description

Currently, there is only an icon for the emoji picker.
We should have a working Emoji picker to add emoji in comments

### Screenshots

![Capture](https://user-images.githubusercontent.com/62289744/197340062-55e1729e-09e0-4629-8eaa-c26dbb06e3c2.PNG)

### Additional information

_No response_

[2022-10-22 12:54] Sheikh566 commented on #90
I would like to work on this. Can you assign it to me?

[2022-10-22 13:08] narayan954 commented on #90
sure, go ahead!

[2022-10-22 16:06] #90 closed

[2022-10-26 15:59] Devrajsinh03 opened #93 "ADD CUSTOM SCROLLBAR"
### Description

It will be great to add custom scrollbar for the website.

### Screenshots

<img width="1440" alt="tr" src="https://user-images.githubusercontent.com/103804567/198076297-cd7bc460-ed5f-47a1-82a1-4823ae0369f0.png">

### Additional information

_No response_

[2022-10-26 16:01] Devrajsinh03 commented on #93
@narayan954 I would like work on this issue

[2022-10-26 17:08] #93 closed

[2022-10-26 17:12] Devrajsinh03 opened #95 "Dark mode Scrollbar"
### Description

Edit custom Scrollbar for dark mode.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-26 17:12] Devrajsinh03 commented on #95
@narayan954 I will work in this issue

[2022-10-27 11:50] bhoopesh369 opened #98 "Comment delete Feature"
### Description

user who commented can delete his comment.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-27 11:51] bhoopesh369 commented on #98
PR #97

[2022-10-27 11:51] bhoopesh369 commented on #98
@narayan954
@narayansoni

[2022-10-27 16:43] #95 closed

[2022-10-28 08:59] bhoopesh369 commented on #98
PR #99

[2022-10-28 09:20] #77 closed

[2022-10-28 11:07] #80 closed

[2022-10-28 18:36] #98 closed

[2022-11-27 17:31] narayan954 commented on #66
Open for contribution in KWOC

[2022-11-27 17:37] narayan954 commented on #49
@SSHSRN I'm opening this issue for KWOC 2022

[2022-11-27 17:37] #16 closed

[2022-11-27 20:32] ansharora28 opened #102 "[FEATURE] <Creating a dotenv file for storing API keys >"
### Description

The script.js file is currently exposing the firebase API key.
I think it would be a good practice to secure our key( a free one too) by creating a dotenv file in .gitignore to secure the keys to prevent any possible security issue ( bots may scan for API keys and access/use resources)

### Screenshots

_No response_

### Additional information

_No response_

[2022-11-27 20:35] ansharora28 commented on #102
I would like to work on it if you think the issue is valid

[2022-11-28 00:00] SSHSRN commented on #49
Can I work on it for KWOC?

[2022-11-28 06:50] narayan954 commented on #102
Correct indeed! sure you can work on it in the coding period :)

[2022-11-28 06:52] narayan954 commented on #49
Sure, you can :)

[2022-11-28 08:55] narayan954 commented on #82
Open for KWOC

[2022-11-28 13:15] rithikrajyt commented on #82
Hey @narayan954 , I want to work on this issue under KWOC and create solve this issue. Can you please assign me this issue??

[2022-11-28 15:22] narayan954 commented on #82
sure

[2022-11-29 12:40] ansharora28 commented on #3
Hi! Is this issue not applicable for KWOC?
would like to take a look

[2022-11-29 13:51] narayan954 commented on #3
Yes, it is, it could be worked upon in KWOC.

[2022-11-29 13:52] narayan954 commented on #53
Opening this issue for KWOC

[2022-11-29 13:57] narayan954 commented on #62
Open for KWOC

[2022-11-29 13:58] narayan954 commented on #76
Open for KWOC

[2022-11-29 13:58] narayan954 commented on #63
Open for KWOC

[2022-11-29 13:59] narayan954 commented on #72
Open for KWOC

[2022-11-30 10:44] #67 closed

[2022-11-30 13:26] saurabhbakolia opened #103 "[FEATURE] <double tap functionality like Instagram and Linkedin>"
### Description

Currently there is only one way we can like a post using the like icon.
New feature : post would be liked if someone double tap on post image.
It will make the app cool.

### Screenshots

![Double Click Functionality](https://user-images.githubusercontent.com/78996216/204808012-a8c591f5-ed07-41ae-b7bf-00fb30abe389.gif)

### Additional information

_No response_

[2022-11-30 13:26] saurabhbakolia commented on #103
I would like to work on this.

[2022-11-30 17:09] saurabhbakolia commented on #103
Yes, please assign this issue to me.

[2022-11-30 17:39] singhkaran202 commented on #76
Hello @narayan954 I'd love to work on this issue if that's OK.
Can you please assign it to me?

[2022-11-30 18:00] narayan954 commented on #76
Sure @singhkaran202